/ai_models/meta/llama_2/models/llama-2-7b-chat.ggmlv3.q8_0.bin
/ai_models/open_source/mistral/gpt4all/gpt4all-api/gpt4all_api/models/mistral-7b-instruct-v0.1.Q4_0.gguf
/llm_env

/ai_models/open_source/falcon/gpt4all/gpt4all-api/gpt4all_api/models/gpt4all-falcon-newbpe-q4_0.gguf
/rrr_env
/webees.zip
/ai_models/open_source/mistral/gpt4all/gpt4all-api/gpt4all_api/models/gpt4all-falcon-newbpe-q4_0.gguf
/ai_models/open_source/mistral/gpt4all/gpt4all-api/gpt4all_api/models/gpt4all-falcon-newbpe-q4_0.gguf

/ai_models/open_source/falcon/gpt4all/gpt4all-api/gpt4all_api/models/gpt4all-falcon-newbpe-q4_0.gguf

