[0;1;31m●[0m docker.service - Docker Application Container Engine
     Loaded: loaded (/lib/systemd/system/docker.service; enabled; vendor preset: enabled)
     Active: [0;1;31mfailed[0m (Result: exit-code) since Fri 2024-04-19 22:08:48 IST; 37s ago
TriggeredBy: [0;1;31m●[0m docker.socket
       Docs: https://docs.docker.com
    Process: 23317 ExecStart=/usr/bin/dockerd -H unix:///var/run/docker.sock ... [0;1;31m(code=exited, status=1/FAILURE)[0m
   Main PID: 23317 (code=exited, status=1/FAILURE)

Apr 19 22:08:48 dell-Inspiron-15-3511 systemd[1]: docker.service: Scheduled restart job, restart counter is at 3.
Apr 19 22:08:48 dell-Inspiron-15-3511 systemd[1]: Stopped Docker Application Container Engine.
Apr 19 22:08:48 dell-Inspiron-15-3511 systemd[1]: [0;1;38;5;185m[0;1;39m[0;1;38;5;185mdocker.service: Start request repeated too quickly.[0m
Apr 19 22:08:48 dell-Inspiron-15-3511 systemd[1]: [0;1;38;5;185m[0;1;39m[0;1;38;5;185mdocker.service: Failed with result 'exit-code'.[0m
Apr 19 22:08:48 dell-Inspiron-15-3511 systemd[1]: [0;1;31m[0;1;39m[0;1;31mFailed to start Docker Application Container Engine.[0m
